{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
		"no-loops",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
		"plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  // ESLint rules https://eslint.org/docs/rules
	"rules": {
		// 0 off, 1 warn, 2 error
    "no-console": 0,
		"no-loops/no-loops": 2,
    "indent": [2, 2],
    "comma-dangle": [2, "always-multiline"],
    "eol-last": [2, "always"],
    "semi": [2, "always"],
    "prettier/prettier": 2
	}
}